@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'sans-serif';
}

/* Root VAriables */
:root {
    --main-color: #00abf0;
    --bg-color: #081b29;
    --text-main-color: #ededed;
    --secondary-bg-color: #112e42;
}

/* Whole HTML Doc */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* BODY */
body { 
    position: relative;
    color: var(--text-main-color);
}

body:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.999;
    background-image: url('../images/back2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1000;
}

/* Navabr */
.navbar {
    background-color: var(--bg-color);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
}

.navbar ul li {
    padding: 0 1rem;
}

.navbar ul li a {
    color: var(--text-main-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 1rem;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: var(--main-color);
}

.navbar .login {
    color: var(--text-main-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .login .btn {
    display: inline-block;
    color: var(--text-main-color);
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    margin: 0 0.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--text-main-color);
    transition: all 0.3s ease;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* Hero Section */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    text-align: center;
    color: var(--text-main-color);
}

.hero-content h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.hero-content h2 {
    font-size: 1.9rem;
}

.edit {
    color: var(--main-color);
}

.hero-content p {
    font-size: 1.3rem;
    margin: 15px auto;
    font-weight: 600;
    line-height: 20px;
}

button {
    width: 200px;
    padding: 13px 0px;
    text-align: center;
    margin: 15px 5px;
    border-radius: 25px;
    font-weight: 600;
    border: 2px solid var(--text-main-color);
    background-color: transparent;
    color: var(--text-main-color);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.hero-content .btns .a {
    text-decoration: none;
    color: var(--secondary-bg-color);
}

button span {
    background-color: var(--main-color);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.5s ease;
}

button:hover span {
    width: 100%;
    border: none;
}

.hero.active {
    display: none;
}

/* Login From */
.login-form {
    display: none;
    transition: all 0.3s ease;
}

.login-form.active {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;

}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(100%);
    border: 2px solid rgba(255, 255, 255, .2);
    width: 35rem;
    color: var(--text-main-color);
    border-radius: 15px;
    padding: 2rem 1.5rem 1rem 1.5rem;
}

.wrapper h2 {
    font-size: 2rem;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 3.5rem;
    margin: 1.5rem 0 3.5rem 0;
}

.wrapper .input-box label {
    margin: 0 0 20px 12px;
    font-size: 1.2rem;
}

.input-box input {
    width: 100%;
    height: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    color: var(--text-main-color);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: var(--text-main-color);
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    margin: 0px 0 10px;

}

.remember-forgot label input {
    color: var(--text-main-color);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--text-main-color);
    font-weight: 600;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 1.45rem;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--text-main-color);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

/* Registration From */
.registration-form {
    display: none;
    transition: all 0.3s ease;
}

.registration-form.active {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;

}